@for $i from -20 to 20 {
  $num: 5 * $i;
  .p#{$num} {
    padding: 0px + $num;
  }
  .pt#{$num} {
    padding-top: 0px + $num;
  }
  .pr#{$num} {
    padding-right: 0px + $num;
  }
  .pb#{$num} {
    padding-bottom: 0px + $num;
  }
  .pl#{$num} {
    padding-left: 0px + $num;
  }
  .pv#{$num} {
    padding-top: 0px + $num;
    padding-bottom: 0px + $num;
  }
  .ph#{$num} {
    padding-left: 0px + $num;
    padding-right: 0px + $num;
  }
  .m#{$num} {
    margin: 0px + $num;
  }
  .mt#{$num} {
    margin-top: 0px + $num;
  }
  .mr#{$num} {
    margin-right: 0px + $num;
  }
  .mb#{$num} {
    margin-bottom: 0px + $num;
  }
  .ml#{$num} {
    margin-left: 0px + $num;
  }
  .mv#{$num} {
    margin-top: 0px + $num;
    margin-bottom: 0px + $num;
  }
  .mh#{$num} {
    margin-left: 0px + $num;
    margin-right: 0px + $num;
  }
}

@for $j from 12 to 40 {
  .fs#{$j} {
    font-size: 0px + $j;
  }
}

.f {
  display: flex;
}

.f-s-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-s {
  display: flex;
  justify-content: space-between;
}

.f-c {
  display: flex;
  align-items: center;
}

.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f600 {
  font-weight: 600;
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}

.cp {
  cursor: pointer;
}

// 全局滚动轴样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(44, 90, 128, 0.8);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

.fade-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active {
  transition: all 0.5s;
}
.fade-leave-active {
  position: absolute;
  transition: all 0.5s;
}
