<script setup lang="ts">
import _ from 'lodash';
import { useI18n } from 'vue-i18n';
import China from '@/assets/svg/China.svg';
import Spanish from '@/assets/svg/Spanish.svg';
import America from '@/assets/svg/America.svg';
import French from '@/assets/svg/French.svg';
import Original from '@/assets/svg/Original.svg';
import { useCommonStore } from '@/store/modules/common';
const { locale } = useI18n();
const commonStore = useCommonStore();
const langList = [
  { code: 'en', desc: 'English', tip: 'English', icon: America },
  { code: 'cn', desc: '中文', tip: 'Chinese', icon: China },
  { code: 'fr', desc: 'Français', tip: 'French', icon: French },
  { code: 'es', desc: 'Español', tip: 'Spanish', icon: Spanish },
  { code: 'or', desc: 'Original', tip: 'Original', icon: Original }
];
const getLanguageIcon = computed(() => {
  return _.find(langList, (item) => item.code === commonStore.language)?.icon;
});
const handleSetLanguage = (code: string) => {
  locale.value = code;
  commonStore.setLanguage(code);
};
</script>
<template>
  <el-dropdown :hide-timeout="50" @command="handleSetLanguage">
    <span class="el-dropdown-link cp">
      <img :src="getLanguageIcon" style="width: 23px" />
    </span>
    <template #dropdown>
      <el-dropdown-item v-for="lang in langList" :key="lang.code" :command="lang.code" class="f-c pv5 ph15">
        <img :src="lang.icon" style="width: 23px; vertical-align: middle" class="mr10" />
        <span class="fs12">{{ lang.desc }} - {{ lang.tip }}</span>
      </el-dropdown-item>
    </template>
  </el-dropdown>
</template>
<style lang="scss" scoped></style>
