<script setup lang="ts">
import { useCommonStore } from '@/store/modules/common';
import { useAuthStore } from '@/store/modules/auth';
import { useUserStore } from '@/store/modules/user';
import { RouteRecordRaw } from 'vue-router';
import { ArrowDown } from '@element-plus/icons-vue';
import _ from 'lodash';

import LangSelect from './langSelect.vue';
const commonStore = useCommonStore();
const route = useRoute();
const router = useRouter();
const authStore = useAuthStore();
const userStore = useUserStore();

const routesArr = ref<any[]>([]);
// 匹配路由，对应面包屑导航显示
const getMenuByNames = (menus: any[], currentRouteItem: RouteRecordRaw) => {
  return _.find(menus, (item) => item.name === currentRouteItem.name);
};
//
const setBreadName = (currentRoutes: RouteRecordRaw[]) => {
  routesArr.value = [];
  let parentRoute;
  for (let i = 0; i < currentRoutes.length; i++) {
    const element = currentRoutes[i];
    const menu = getMenuByNames(parentRoute ? parentRoute.children : authStore.routes, element);
    if (menu) {
      parentRoute = menu;
      routesArr.value.push(menu);
    }
  }
};
// 监视路由的变化，匹配对应的面包屑名称展示
watch(
  () => route.matched,
  (newValue) => {
    setBreadName(newValue);
  },
  { immediate: true }
);

// 获取环境
const NODE_ENV = import.meta.env.MODE;
// 退出
const logout = () => {
  userStore.clearInfo();
  authStore.clearRoutes();
  router.replace('/login');
};
</script>
<template>
  <div class="navbar f-s-c">
    <div class="f-c">
      <!-- 菜单伸缩 -->
      <i
        class="iconfont icon fs22 cp mr20"
        :class="!commonStore.collapse ? 'icon-shousuo' : 'icon-zhankai'"
        @click="commonStore.setCollapse"
      ></i>
      <el-tag v-if="NODE_ENV !== 'production'" class="mr20">environment -- {{ NODE_ENV.toUpperCase() }}</el-tag>
      <!-- 面包屑导航 -->
      <el-breadcrumb separator="/">
        <el-breadcrumb-item v-for="item in routesArr" :key="item.id">
          {{ item[commonStore.language] }}
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="f-c">
      <LangSelect class="mr20" />
      <el-dropdown trigger="click">
        <span class="el-dropdown-link cp">
          {{ userStore.userInfo.username }}
          <el-icon class="el-icon--right">
            <ArrowDown />
          </el-icon>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item>
              <div @click="logout">
                <i class="iconfont icon-tuichu1"></i>
                <span>退出</span>
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.navbar {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20px;
}
</style>
