<script setup lang="ts">
import { useAuthStore } from '@/store/modules/auth';
import { useCommonStore } from '@/store/modules/common';
const authStore = useAuthStore();
const route = useRoute();
const router = useRouter();
const commonStore = useCommonStore();

interface propObjType {
  sideBarParams: {
    logoName: string;
    logoLink: string;
    logoIcon?: string;
  };
}
withDefaults(defineProps<propObjType>(), {
  sideBarParams: () => ({
    logoName: 'FTL-EXPRESS',
    logoLink: '/home/welcome',
    logoIcon: 'https://assets.ftlapp.io/ui/berry-logo.png'
  })
});

// 点击去往对应菜单页面
const activeMenu = (index: string) => {
  router.push({ name: index });
};
</script>
<template>
  <div class="sidebar-container">
    <router-link v-slot="{ navigate }" :to="sideBarParams.logoLink" replace>
      <div class="sidebar-container-title f-c-c" @click="navigate">
        <img :src="sideBarParams.logoIcon" class="iconImg" />
        <span v-show="!commonStore.collapse" class="logoName">{{ sideBarParams.logoName }}</span>
      </div>
    </router-link>
    <el-menu
      class="el-menu-vertical-demo"
      :default-active="route.name"
      :collapse="commonStore.collapse"
      @select="activeMenu"
    >
      <el-sub-menu v-for="item in authStore.routes" :key="item.id" :index="item.name">
        <template #title>
          <i class="iconfont icon-zhanghao mr10"></i>
          <span>{{ item[commonStore.language] }}</span>
        </template>
        <el-menu-item v-for="item2 in item.children" :key="item2.id" :index="item2.name">
          <template #title>
            <!-- <i class="iconfont icon-zhanghao mr10"></i> -->
            <span>{{ item2[commonStore.language] }}</span>
          </template>
        </el-menu-item>
      </el-sub-menu>
    </el-menu>
  </div>
</template>
<style lang="scss" scoped>
$bg: #0e5c7a;
$tc: #fff;

:deep(.el-menu) {
  background-color: $bg;
  border-right: none;
}

:deep(.el-sub-menu__title) {
  color: $tc;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

:deep(.el-menu-item) {
  color: $tc;
  background-color: transparent;

  &:hover {
    color: #8deffc;
  }
}

:deep(.el-menu-item.is-active) {
  color: #8deffc;
}

:deep(.el-sub-menu.is-active .el-sub-menu__title) {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-container {
  background-color: $bg;

  &-title {
    padding: 25px 0;
    color: $tc;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  .iconImg {
    width: 46px;
    height: 30px;
    margin-right: 6px;
  }
  .logoName {
    font-size: 22px;
    font-weight: 600;
  }
}
.el-menu-vertical-demo {
  height: calc(100vh - 85px);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 240px;
}
</style>
