<script setup lang="ts">
import { ElConfigProvider } from 'element-plus';
import { messages } from '@/lang';
import { useCommonStore } from '@/store/modules/common';
const commonStore = useCommonStore();
const localeMessage: any = messages;
const localeLang = computed(() => {
  return localeMessage[commonStore.language];
});
</script>

<template>
  <el-config-provider :locale="localeLang">
    <router-view />
  </el-config-provider>
</template>

<style lang="scss" scoped>
@import url('//at.alicdn.com/t/c/font_3765210_bzz58lmae7v.css');
</style>
