<script setup lang="ts">
import { login } from '@/api/auth';
import { useUserStore } from '@/store/modules/user';
type loginFormType = {
  username: string;
  password: string;
  appKey: string;
};

const userStore = useUserStore();
const router = useRouter();

const loginForm = reactive<loginFormType>({
  username: '',
  password: '',
  appKey: '5uzTprX5GacoXHG7prIkbvSSknHv93fj'
});
// 登录
const toLogin = async () => {
  loadingStatus.value = true;
  try {
    let res = await login(loginForm);
    userStore.setUserInfo(res);
    router.push('/home');
  } catch (error) {
    loadingStatus.value = false;
  }
};
const loadingStatus = ref<boolean>(false);
</script>
<template>
  <div class="main">
    <div class="main-login-box">
      <el-form :model="loginForm">
        <el-form-item>
          <el-input v-model="loginForm.username" placeholder="用户">
            <template #prefix>
              <i class="iconfont icon-zhanghao"></i>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="loginForm.password" placeholder="密码" type="password">
            <template #prefix>
              <i class="iconfont icon-mima1"></i>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="login-btn mt15" :loading="loadingStatus" @click="toLogin">登录</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.main {
  width: 100%;
  height: 100%;
  background: url('@/assets/img/login_bg.png') no-repeat;
  background-size: 100% 100%;

  &-login-box {
    width: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .login-btn {
      width: 100%;
      border-radius: 10px;
    }
  }
}
</style>
