<script setup lang="ts">
import SideBar from './components/sideBar.vue';
import NavBar from './components/navBar.vue';
import AppMain from './components/appMain.vue';
const sideBarParams = {
  logoName: 'X-PUSH',
  logoLink: '/home/welcome',
  logoIcon: 'https://assets.ftlapp.io/ui/berry-logo.png'
};
</script>
<template>
  <div class="app-inner f">
    <SideBar :side-bar-params="sideBarParams" />
    <div class="app-inner-main">
      <NavBar />
      <AppMain />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.app-inner {
  &-main {
    flex: 1;

    &-header {
      height: 50px;
    }
  }
}
</style>
